div.sorts p{
  text-align: right;
  font-weight: normal;
}
ul li.neagari{
  float: left;
width: 25%;
height: 40px;
padding: 5px 0;
text-align: center;
font-size: 0.9em;
cursor: pointer;
box-sizing: border-box;
border-top:1px solid #c8c8c8;
background-color: #c8c8c8;
border-left:1px solid white;
}
ul li.nselect{
  float: left;
width: 25%;
height: 40px;
padding: 5px 0;
text-align: center;
font-size: 0.9em;
cursor: pointer;
box-sizing: border-box;
background-color: white;
border-top:1px solid red;
background-color:#e0e0e0;
}
ul#tab0202{
  width: 100%;
  height:40px;
  padding-bottom: 40px;
}
